.celesteBoton {
  border-radius: 20px !important;
  background-color: #33b4e5 !important;
  border-color: transparent !important;
  width: 60% !important;
}

.celesteBotonPdf {
  border-radius: 20px !important;
  background-color: #33b4e5 !important;
  border-color: transparent !important;
  width: 20% !important;
}
.verdeBoton {
  color: white !important;
  border-radius: 20px !important;
  background-color: #01c851 !important;
  border-color: transparent !important;
  width: 20% !important;
}
.naranjaBoton {
  border-radius: 20px !important;
  background-color: #ff8800 !important;
  border-color: transparent !important;
  width: 60% !important;
}
.rojoBoton {
  border-radius: 20px !important;
  background-color: #ff1a00 !important;
  border-color: transparent !important;
  width: 16%;
}
.grisBoton {
  border-radius: 20px !important;
  background-color: #918a95 !important;
  border-color: transparent !important;
  width: 20% !important;
}
