@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,600;1,600&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.content-rigth {
  display: flex;
  justify-content: right;
  margin-top: 32px;
}

.botones-cs {
  background-color: #122a4c !important;
  border-radius: 20px !important;
  color: #fdfdfc !important;
}

.submit-btn {
  color: #fdfdfc !important;
  border: none !important;
}

.image-location {
  max-width: 100px;
  height: auto;
}

.modal-body {
  background: rgba(82, 144, 232, 0.1);
}

.container-1 {
  display: flex;
}

.container-2 {
  background: rgba(82, 144, 232, 0.1);
}

.caracteristicas {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-modal {
  background-color: #122a4c !important;
  color: #fdfdfc !important;
}
.text-center {
  text-align: center;
}
.close-btn {
  background-color: #ff1a00 !important;
  color: #fdfdfc !important;
  padding: 0 !important;
  margin: 0 !important;
}
.errores p {
  color: #ff1a00 !important;
}
button.swal2-confirm.swal2-styled {
  background-color: #122a4c90 !important;
}

:root {
  --primary-color: #122a4c;
  --secondary-color: #5290e810;
  --light-color: #fdfdfc;
  --border-color: #f0eff5;
  --shadow-color: #9d99aa42;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
}

.bg-c-primary th {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.bg-c-secondary td,
.bg-c-secondary th {
  background-color: var(--secondary-color) !important;
  vertical-align: middle;
}

/* Formulario pago */

.pago-form {
  max-width: 320px;
}

.box {
  background-color: white;
  box-shadow: 0 0 16px var(--shadow-color);
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 6px;
}

.bx-icon {
  font-size: 2rem;
  color: var(--primary-color);
}

.btn-personal {
  background-color: var(--primary-color) !important;
  color: white !important;
  border-radius: 100px !important;
  padding: 0.4rem 1rem !important;
}

.primary-color {
  color: var(--primary-color);
}

.btn-none-style {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.link-none-styles {
  color: inherit;
  text-decoration: none;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .btn-close {
  margin: 0;
}

.parrafoContainer {
  background-color: rgba(82, 144, 232, 0.1);
  border-radius: 15%;
}

.cuentaB {
  text-align: center;
  position: absolute;
  left: 135px;
  margin-top: 50px;
  background-color: rgba(82, 144, 232, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.qr {
  text-align: center;
}
.parrafo {
  text-align: left;
}

.tittleQr {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 20px;
}
.logoutButton {
  border-radius: 20px !important;
  background-color: #8b0000 !important;
  border-color: transparent !important;
}

.spanError {
  color: #ff1a00;
  font-size: 13px;
}
.row-reporte {
  display: flex;
}
.col-reporte {
  flex: 1;
  padding: 10px;
  text-align: center;
  margin-right: 20px;
}
.col-reporte1 {
  flex: 1;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(82, 144, 232, 0.1);
  text-align: center;
  margin-right: 20px;
  width: 100px;
}

.col-reporte1:first-child {
  margin-left: 20px; /* Agrega margen izquierdo de 10px al primer contenedor */
  width: 100px;
}

.datalist-width option {
  width: 100%;
  background-color: #122a4c;
}
.checkboxContainer {
  display: flex;
  flex-direction: row;
}
.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
}

.chartContainer {
  width: 35%;
  height: 200px; /* Ajusta el valor para cambiar la altura de la gráfica */
}

.containerr {
  display: flex;
  margin-top: 50px;
}

.chartContainer {
  flex: 2;
  margin-right: 20px; /* Espacio entre la gráfica y la tabla */
  margin-left: 20px;
}

.tableContainerr {
  flex: 2;
  margin: 2%;
}

.mytabler {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.tableFoot {
  background-color: #ecf2fa;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 8px;
}

.autoWidth {
  width: auto;
}

.mytablec {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.contenedorRegistro {
  margin-top: 20px;
}
