.modalMensajeHeader{
    background-color: #ECF2FA;
}
.modalMensajeBody{
    background-color: #ECF2FA;
}
.myMensajeModalBody{
    margin-top: 20px !important;
}

.modalMensajeFooter{
    background-color: #ECF2FA !important;
}