@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* Estilos para la tabla */
.mytable {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Estilos para las celdas de los encabezados */
.tableHeader {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid gray;
  }
  
  /* Estilos para las filas pares de la tabla */
  .misFilas {
    background-color: yellow;
  }
  
  
  /* Estilos para las celdas de la tabla */
  .miTd {
    padding: 8px;
    border: 1px solid red;
    text-align: center;
  }